{extend name="admin@frame/template:bootstrap_frame"/}
{block name="body"}
<form method="post" class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-3"><span class="text-red">*</span>ID（只读）</label>
		<div class=" col-sm-9">
			<input value="{$admin.admin_id}" type="text" class="form-control" id="admin_id" name="admin_id" readonly="true" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3"><span class="text-red">*</span>账号（只读）</label>
		<div class="col-sm-9">
			<input value="{$admin.admin_account}" type="text" class="form-control" id="admin_account" name="admin_account" readonly="true">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3"><span class="text-red">*</span>密码：</label>
		<div class="col-sm-9">
			<input type="password" class="form-control" placeholder="字母、数字、下划线、减号，4到25位之间" id="admin_password" name="admin_password" rangelength="[4,25]" required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3"><span class="text-red">*</span>密码再输入一次：</label>
		<div class="col-sm-9">
			<input type="password" class="form-control" placeholder="字母、数字、下划线、减号，4到25位之间" id="admin_password_confirm" name="admin_password_confirm" equalTo:admin_password rangelength="[4,25]" required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">其他信息</label>
		<div class="col-sm-9">
			<a href="{:url("admin/admin/edit",["id"=>$admin.admin_id])}">要修改其他信息请点这里</a>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<button type="submit" class="btn btn-success disabled" disabled="true">提交数据</button>
		</div>
	</div>
</form>
{/block}

{block name="js"}
{include file="admin@frame/include:js-jquery-validation"/}
<script type="text/javascript">
	$(function() {
		// 初始化checkbox的icheck样式
		$('input[type="checkbox"],input[type="radio"]').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass   : 'iradio_minimal-blue'
	    })
		// 实现菜单全选
		$("#checkall:checkbox").on("ifChecked ifUnchecked",function(event) {
			$(this).parents(".form-group").find(".panel input:checkbox").iCheck(event.type=='ifChecked' ? 'check' : 'uncheck');
		});

		// 只有当表单中有数据变化时，提交按钮才可用
		$("form").children().bind('input propertychange ifChecked ifUnchecked',function() {
			$(":submit").removeClass('disabled').removeAttr('disabled');
		});

		$("form").validate({
			rules: {
				admin_account: {
					isRightfulString: true
				},
				admin_password_confirm: {
      				equalTo : "#admin_password"
    			},
			},
			submitHandler: function(form) {
				// 当验证通过时执行ajax提交
				ajax_post("{:url('admin/admin/do_admin_password')}",$("form").serialize());
			}
		});
	});
</script>
{/block}

{block name="css"}

{/block}