<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
	<li class="header">功能目录</li>
	<li class="treeview menu-open active">
		<a href="#">
			<i class="fa fa-home fa-fw"></i> <span>主目录</span>
			<span class="pull-right-container">
				<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{:url('admin/index/index')}"><i class="fa fa-home fa-fw"></i> <span>首页</span></a></li>
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-dashboard fa-fw"></i> <span>演示</span>
			<span class="pull-right-container">
				<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{:url('admin/example/chart')}"><i class="fa fa-bar-chart fa-fw"></i> <span>chart组件演示</span></a></li>
			<li><a href="{:url('admin/example/linkage')}"><i class="fa fa-th-list fa-fw"></i> <span>无限联动演示</span></a></li>
			<li><a href="{:url('admin/login/index')}"><i class="fa fa-address-card-o fa-fw"></i> <span>登录页演示</span></a></li>
		</ul>
	</li>
</ul>