{extend name='common@template:adminlte_blank'/}

{block name="body"}
<div class="login-box">
	<div class="login-logo">
		<b>qF</b>rame
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
		<p class="login-box-msg">登录以获取操作权限</p>
		<form id="login_form" method="post" class="form-horizontal" action="">
			<div class="form-group">
				<label class="col-sm-4 control-label" for="user_account"><i class="fa fa-user fa-fw"></i> 用户名</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="user_account" name="user_account" placeholder="用户名" rangelength="[4,32]" required />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="user_password"><i class="fa fa-lock fa-fw"></i> 密码</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="user_password" name="user_password" placeholder="密码" rangelength="[4,64]" required />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="user_password"><i class="fa fa-image fa-fw"></i> 验证码</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="captcha" name="captcha" placeholder="验证码" minlength="4" maxlength="4" required />
				</div>
				<div class="col-sm-8 col-sm-offset-4">
					<img id="captcha_img" src="{:url('api/captcha/get_captcha_image',['fontsize'=>'25','length'=>'4'])}">
					<a id="kanbuq" href="javascript:;">换一张</a>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary btn-block" name="login_button">登录</button>
				</div>
			</div>
		</form>
		<div class="social-auth-links text-center">
			
		</div>
		<!-- /.social-auth-links -->
	</div>
	<!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<footer class="page-footer">
	<div class="pull-right hidden-xs">
		<b>Version</b> 1.0.0
	</div>
	<strong>Copyright &copy; <a href="#">兮恩科技</a> 2019 .</strong> All rights
	reserved.
</footer>
{/block}

{block name="css"}
{include file="common@include:css-icheck"/}
{/block}

{block name="script"}
{include file="common@include:js-icheck"/}
{include file="common@include:js-jquery-validation"/}
<script type="text/javascript">
$(function () {
  	/**
  	 * 为body添加login-page样式
  	 * 主要是添加背景色
  	 */
  	 $('body').addClass('login-page');
  	/**
  	 * 初始化icheck控件显示
  	 * @type {String}
  	 */
  	 $('input').iCheck({
  	 	checkboxClass: 'icheckbox_square-blue',
  	 	radioClass: 'iradio_square-blue',
  	 	increaseArea: '20%' /* optional */
  	 });
    /**
     * 刷新验证码的方法
     */
     function refreshCaptcha() {
		// 以当前时间初始化随机参数
		var t = Date.parse(new Date());
		var src = $("#captcha_img").attr("src");
		// 对验证码图片的src属性重新赋值
		$("#captcha_img").attr("src",src+"?t="+t);
		// 清空验证码文本框
		$("#captcha").val("");
	}
	/**
	 * 判断页面是否在框架中，如果在，则跳到顶级页面中显示
	 */
	 if(top != self){  
	 	top.location.href = "{:url('admin/index/index')}";
	 }

	/**
	 * 为验证码图片和更换按钮绑定点击动作
	 */
	 $("#captcha_img,#kanbuq").on("click",function() {
	 	refreshCaptcha();
	 });

	/**
	 * 监听键盘动作实现回车键提交
	 */
	 $(document).keypress(function(e) {
	 	if(e.keyCode == 13) {
	 		$("#login").trigger("click");
	 	}
	 });

	/**
	 * 执行表单验证，并在验证通过ajax提交
	 */
	 $( "#login_form" ).validate({
	 	rules: {
	 		user_account: "isRightfulString",
	 		user_password: "isRightfulString",

	 	},
	 	messages: {

	 	},
	 	// 配合bootstrap3样式的验证代码
	 	errorElement: "em",
	 	errorPlacement: function ( error, element ) {
			// Add the `help-block` class to the error element
			error.addClass( "help-block" );
			// Add `has-feedback` class to the parent div.form-group
			// in order to add icons to inputs
			element.parents( ".form-group" ).addClass( "has-feedback" );
			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		},
		// end 配合bootstrap3样式的验证代码
		submitHandler: function(form) {
			alert('验证通过');
			// 当验证通过时执行ajax提交
			// $.ajax({
			// 	type: "POST", // POST方法提交
			// 	url: "{:url('admin/login/do_login')}", // 执行的方法
			// 	data: $("form").serialize(),  // 将表单控件的name属性序列化后提交
			// 	dataType: "json", // 数据类型为json
			// 	success: function(data) {
			// 		// 当ajax请求执行成功时执行
			// 		if (data.status == true) {
			// 			// 返回data对象中的status元素值为1表示数据插入成功
			// 			layer.msg(data.message, {icon: 6, time: 1000}); // 使用H-ui的浮动提示框，2秒后自动消失
			// 			setTimeout(function() {
			// 				parent.location.href = "{:url('admin/home/index')}";
			// 			}, 1300); //2秒后对父页面执行刷新（相当于关闭了弹层同时更新了数据）
			// 		} else {
			// 			// 返回data对象的status值不为1，表示数据插入失败
			// 			layer.msg(data.message, {icon: 5, time: 1000}); // 使用H-ui的浮动提示框，2秒后自动消失
			// 			refreshCaptcha(); // 重置一下验证码
			// 			// 页面停留在这里，不再执行任何动作
			// 		}
			// 	}
			// });
		}
	});
});
</script>
{/block}
