<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="__STATIC__/lib/adminlte/img/user2-160x160.jpg" class="user-image" alt="User Image">
    <span class="hidden-xs">[用户名]</span>
  </a>
  <ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
      <img src="__STATIC__/lib/adminlte/img/user2-160x160.jpg" class="img-circle" alt="头像" />
      <!-- /img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
      <p>
       [用户名]
       <small>[用户角色]</small>
     </p>
   </li>
   <!-- Menu Body -->
   <li class="user-body">
    <div class="row">
      <div class="col-xs-4 text-center">
        <a href="#">功能链接</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">功能链接</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">功能链接</a>
      </div>
    </div>
    <!-- /.row -->
  </li>
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-left">
      <a href="#" class="btn btn-default btn-flat">个人资料</a>
    </div>
    <div class="pull-right">
      <a href="#" class="btn btn-default btn-flat">退出系统</a>
    </div>
  </li>
</ul>
</li>