<!DOCTYPE html>
<html>
<head>
	{include file="index@frame/include:meta-mobile"/}
	<title>
	{block name="title"}
	
	{/block}
	</title>
	<!-- framework7样式文件 -->
	{include file="index@frame/include:css-framework7"/}
	<!-- 公共图标样式文件 -->
	{include file="common@frame/include:css-icons"/}
	<!-- index模块通用自自定义样式文件 -->
	{include file="index@frame/include:css-common-index"/}
	<!-- 页面自定义样式表 -->
	{block name="css"}

	{/block}
	<!-- 页面完全加载前显示“loading” -->
	{include file="common@frame/include:js-loading-in-head"/}
</head>
<body>
	{block name="body"}

	{/block}
	{include file="index@frame/include:js-vue"/}
	{include file="index@frame/include:js-framework7"/}
	{include file="index@frame/include:js-framework7-vue"/}
	{include file="index@frame/include:js-common-index"/}
	{block name="js"}
	
	{/block}
	<!-- 统计脚本 -->
	{$tongji|default=''}
</body>
</html>