{extend name='common@template:adminlte_index'/}

{block name="bread-nav"}
	
{/block}

{block name="main-title"}
	{$pagetitle|default=""}
	<small></small>
{/block}

{block name="main-content"}
	<a class="btn btn-default btn-block btn-lg" href="{:url('index/index/chart')}"><i class="fa fa-bar-chart fa-fw"></i> chart.js演示</a>
	<a class="btn btn-default btn-block btn-lg" href="{:url('index/index/linkage')}"><i class="fa fa-th-list fa-fw"></i> 无限联动演示</a>
	<a class="btn btn-default btn-block btn-lg" href="{:url('admin/login/index')}"><i class="fa fa-address-card-o fa-fw"></i> 登录页演示</a>
{/block}

{block name="script"}

{/block}

{block name="css"}

{/block}